@use 'variables' as *;

.artist-page {
    position: relative;
    text-align: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.new-release {
    margin: 0 auto;
    color: white;
    text-align: center;

    h1 {
        color: white;
        letter-spacing: 0.25em;
        margin: 1em 1em 0.5em;
        @media screen and (min-width: 1201px) { font-size: 3rem; }
        @media screen and (max-width: 1200px) { font-size: 3rem; }
        // @media screen and (max-width: 1050px) { font-size: 2.5rem; }
        @media screen and (max-width: 850px) { font-size: 2rem; }
        @media screen and (max-width: 650px) { font-size: 1.5rem; }
    }
    h2 {
        letter-spacing: 0.25em;
        margin: 0 1em 0.5em;
        @media screen and (min-width: 1201px) { font-size: 2rem; }
        @media screen and (max-width: 1200px) { font-size: 2rem; }
        // @media screen and (max-width: 1050px) { font-size: 1.75rem; }
        @media screen and (max-width: 850px) { font-size: 1.5rem; }
        @media screen and (max-width: 650px) { font-size: 1.25rem; }
    }
    h3 {
        @media screen and (min-width: 1201px) { font-size: 1.5rem; }
        @media screen and (max-width: 1200px) { font-size: 1.5rem; }
        // @media screen and (max-width: 1050px) { font-size: 1.25rem; }
        @media screen and (max-width: 850px) { font-size: 1rem; }
        @media screen and (max-width: 650px) { font-size: 1rem; }
    }
    span {
        color: white;
        @media screen and (min-width: 1201px) { font-size: 1.5rem; }
        @media screen and (max-width: 1200px) { font-size: 1.5rem; }
        // @media screen and (max-width: 1050px) { font-size: 1.25rem; }
        @media screen and (max-width: 850px) { font-size: 1rem; }
        @media screen and (max-width: 650px) { font-size: 1rem; }
    }
}

.brand-contact-wrap {
    max-width: 1650px;
    margin: auto;
  
    .textarea { grid-area: textarea; }
    .image-pos { grid-area: image-pos; }
  
    .grid-img-l, .grid-img-r {
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      grid-gap: 8px;
      justify-content: center;
      align-items: center;
    }
    .grid-img-l { grid-template: 'image-pos textarea'};
    .grid-img-r { grid-template: 'textarea image-pos'};
  
    @media screen and (max-width: 950px) {
      .grid-img-l, .grid-img-r { 
          grid-template: 
            'image-pos'
            'textarea';
      }
    }
  
    .textarea {
      padding: 2rem;
  
      p { font-size: 1.5em; }
      h1 {
        position: relative;
        font-size: 3em;
        font-weight: 200px;
        padding-bottom: 32px;
  
        &::after {
          content: '';
          position: absolute;
          bottom: 0; 
          left: 0;
          width: 88px;
          height: 6px;
          background-color: $colorPrimary;
        }
      }
    }
  
    img {
      width: 100%;
      height: 33.3vh;
      object-fit: contain;
      padding-top: 1rem;
    }
  }