$colorPrimary: white;
$colorPrimaryVariant: rgb(168,168,168);
$colorSecondary: black;
$colorSecondaryVariant: black;
$colorBackground: #121212;
$colorSurface: rgb(30, 30, 30);
$colorOnPrimary:black;
$colorOnSecondary: black;
$colorOnBackground: white;
$colorOnSurface:white;