@use 'variables' as *;
@import url('https://fonts.googleapis.com/css?family=Barlow');

.contact-form {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: minmax(300px, 600px);
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: EurostileNextLTPro-Light,AvenirLTPro-Roman,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

textarea {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-clip: padding-box;
    display: block;
    font-size: 18px;
    color: #fff;
    padding-left: 1rem;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

#Message {
    height: 10rem;
}

select {
    line-height: 1.5;
    font-size: 1.4em;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: block;
    background: transparent;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    appearance: none;
}

.nameinput,
.emailinput {
    width: 100%;
    height: 48px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    cursor: pointer;
}

input {
    &.nameinput {
        background: rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
    }
    &.emailinput {
        background: rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
    }
    &.message {
        background: rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
    }
}

select.indent {
    padding-left: 45px;
    cursor: pointer;
}

input:focus,
textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, .5);
    overflow: hidden;
}

.btn {
    margin-top: 1rem;
    color: transparent;
    text-shadow: 0px 0px 1px $colorPrimary;
    padding: 1rem 6rem 1rem;
    border: 4px $colorPrimary solid;
    text-align: center;
    background: none;
    font-size: 24px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4); 

    &:hover,
    &:active {
        background: $colorPrimary;
        outline: none;
        box-shadow: 0 0 $colorPrimary;
        top: 2px;
        color: white;
    }
}