@use 'variables' as *;

.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $colorSurface;
    margin: 0 0.5rem 0;
    background: none;

  a {
      position: relative;
      display: block;
      text-align: center;
      padding: 1rem 0.5rem;
      margin: 0 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1rem;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 1px;
        background-color: $colorPrimary;
        transition: transform 250ms;
      }
      
      &:hover:not(.active, #logo) {   
        &::after {
          transform: translateX(-50%) scaleX(1);
        }
      }

      &.active {
        color: white;
        &::after {
          transform: translateX(-50%) scaleX(1);
        }          
      }

      &.intro {
        color: white;
      }
  }

  > div {
      display: flex;
      align-items: center;
  }

  @media screen and (max-width: 775px) {
    a {
      margin: 0;
    }
    a:not(#logo,.icon) {
      display: none;
    }

    a.icon {
      display: inline;
    }
  }

  & .icon {
    display: none;
  }
}

.sidenav {
  position: fixed;
  background-color: #111;
  z-index: 1;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  padding-top: 90px;
  text-align: center;
  transition: 0.5s;
  overflow-x: hidden;

  > .nav-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 32px;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 0.5em;

    >.nav-link:hover {
      background-color: rgb(56, 56, 56);
      color: white;
    }
  }

  & .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 0;
  }

  @media screen and (max-height: 450px) {
    padding-top: 15px;
    a {
        font-size: 18px;
    }
  }
}