@use 'background';
@use 'layout';
@use 'nav';
@use 'grid-gallery';
@use 'form';
@use 'artist';
@use 'text_animation';
@use 'variables' as *; 
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Barlow');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: EurostileNextLTPro-Light,AvenirLTPro-Roman,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-color: $colorBackground;
    color: $colorSecondary;
}

h1 {
    color: $colorPrimary;
    font-size: 3rem;
}

p, a {
    color: $colorSecondary;
    text-decoration: none;
}

.color-gold {a { color: $colorPrimary;}}

.nish-logo {
    background: url("../img/Nish/Nish_logo.svg") no-repeat center;
    background-size: 4rem 4rem;
    margin-right: 2rem;
}

.sidenav {
    position: fixed;
    background-color: #111;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    padding-top: 90px;
    text-align: center;
    transition: 0.5s;
    overflow-x: hidden;

    > .nav-link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 32px;
        color: #818181;
        display: block;
        transition: 0.3s;
        padding: 0.5em;

        >.nav-link:hover {
            background-color: rgb(56, 56, 56);
            color: white;
        }
    }

    & .closebtn {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 36px;
        margin-left: 0;
    }

    @media screen and (max-height: 450px) {
        padding-top: 15px;
        a {
            font-size: 18px;
        }
    }
}

.fa {
    text-decoration: none;
    font-size: $iconSize;
    align-items: center;
    color: $colorPrimaryVariant;

    &:hover {
        opacity: 0.7;
    }
}

.tidal { background: url("../img/tidal.svg") no-repeat bottom; }
.deezer { background: url("../img/deezer.svg") no-repeat center; }
.apple-music { background: url("../img/apple-music.svg") no-repeat center; }

.tidal, .deezer, .apple-music {
    background-size: $iconSize $iconSize;
    height: $iconSize;

    @media screen and (max-width: 450px) {
        background-size: $iconSizeSmall $iconSizeSmall;
    }

    &:hover {
        opacity: 0.7;
    }
}

.icon-bar {
    position: fixed;
    background-color: rgba($colorSurface, 0.7);
    @include transform(translateY(-50%));
    top: 50%;
    right: 0px;
    padding-top: 1rem;
    z-index: 100;

    a {
        display: block;
        align-items: center;
        padding: 16px;
    }
}

.grid-container {
    position: relative;
    text-align: center;
    color: white;
  }

.flip-horizontal {
    transform: scaleX(-1);
}

.horizontal-gap {
    padding-left: 1rem;
}

.dark-bg-text {
    h1 {color: $colorSecondary;}
}

.site-wrap {
    width: 60%;
    height: 100%;
    margin: auto;
    text-align: justify;
}

.card-wrap {
    display: flex;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    height: 100vh;
    overflow: hidden;

    img {
        width: 100%;
        padding: 1em;
    }

    p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2em;
    }
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	animation: down 1.5s infinite;
    
	&::before {
		content: '';
		// position: absolute;
        margin-top: auto;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #333;
  	    border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
}

.text-box {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}