$colorPrimary: rgb(171,136,80);
$colorSecondary: rgb(134,134,134);
$colorPrimaryVariant: white;
$colorBackground: black;
$colorSurface: rgb(30, 30, 30);

$fontText: Avenir;

$iconSize: 24px;
$iconSizeSmall: 16px;