* {
    box-sizing: border-box;
}

html {
    background: white;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

#background_about {
    background-image: url("img/background_about.png");
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width:600px) {
    .show-small {
        display: none;
    }
}

section {
    max-width: 700px;
    margin: 70px auto;
}

article {
    max-width: 700px;
    margin: 70px auto;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

header {
    text-align: center;
    padding: 20px;
}

#myVideo {
    position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	transform: translateX(-50%) translateY(-50%);
}