<footer class="footer">
  <a class="footer__link" href="mailto:priyanka.rajendram@apr-artistagency.com">Email Us</a>
  <div>
      <a class="footer__link" href="https://www.instagram.com/priyankarajen/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a class="footer__link" href="https://twitter.com/aprartistagency"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
</footer>

  <style>
  .footer {
    display: grid;
    place-items: center;
    margin-top: auto;
    background-color: var(--color-surface);

    &__link {
      color: white;
    }
  }
</style>