---
export interface Props {
  
}
---

<div class="grid">
  <div class="frame">
    <a class="link">
      <imag class="image" src=""></imag>
      <div class="name"></div>
      <div class="name-hover"></div>
    </a>
  </div>
</div>