---
import LazyImage from "./LazyImage.astro";

export interface Props {
  brand: any;
  hasBrands: boolean;
}

const { brand, hasBrands } = Astro.props;
---

<div class="inline-flex items-center mx-4 py-2">
  <div
    class="h-32 w-72 rounded flex items-center justify-center px-6 transition-all duration-300 ease-in-out opacity-70 hover:opacity-100"
  >
    {
      hasBrands ? (
        <LazyImage
          src={brand.logo}
          alt={brand.name}
          class="h-24 w-auto max-w-64 object-contain"
          loading="eager"
        />
      ) : (
        <span class="text-lg text-on-primary font-medium">{brand}</span>
      )
    }
  </div>
</div>
