---
export interface Props {
  href: string;
  ariaLabel: string;
  class?: string;
}

const { href, ariaLabel, class: className = "" } = Astro.props;
---

<div
  class={`absolute inset-x-0 mx-auto w-10 z-10 animate-bounce-fluid ${className}`}
>
  <a href={href} aria-label={ariaLabel}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-10 h-10 text-primary opacity-70"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
    </svg>
  </a>
</div>
