---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import "../../styles/lazyAnimations.css";
import WorkCard from "../../components/WorkCard.astro";

const workItems = await getCollection("work");
---

<BaseLayout title="Work">
  <section class="py-20">
    <div class="container mx-auto px-4">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 lazy-grid">
        {workItems.map((item) => <WorkCard item={item} class="card-lazy" />)}
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  import { initLazyAnimations } from "../../scripts/lazyAnimations.js";

  document.addEventListener("astro:page-load", () => {
    initLazyAnimations();
  });
</script>
