* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn ease 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.layer-m3 { z-index: -3;}
.layer-m2 { z-index: -2;}
.layer-m1 { z-index: -1;}
.layer-1 { z-index: 1;}
.layer-2 { z-index: 2;}
.layer-3 { z-index: 3;}

.disp-none {
  display: none;
}

.disable-animation {
  animation: none;
}

.pos-fixed {
  position: fixed;
}

.db {
  border: solid blue 8px;
}