$colorPrimary: rgb(171,136,80);
$colorSecondary: rgb(134,134,134);
$colorPrimaryVariant: white;
$colorBgWhite2: rgb(247,247, 247);
$colorBackground: rgb(0,0,0);
$colorSurface: rgb(31, 31, 31);

$fontText: Avenir;

$iconSize: 24px;
$iconSizeSmall: 16px;